<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReciPurrrr!</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="about_body">
    <!--Nav-bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light narvar-text">
        <a class="navbar-brand heading_text" href="/"><b>ReciPurrrr!</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Data Analysis<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">Meet Our Team</a>
                </li>
            
    </nav>
    <!--Nav-bar ends here-->

    <!-- Column for paragraph  -->
    <div class="container col-md-10" id="about-container">
        <h3 class="title_h3">Meet Our Team</h3>
        <hr>
        <div class="row">
            <div class="col-md-2" id="members">
                <div class="card">
                    <img class="card-img-top" src="" alt="Ryan pic">
                    <div class="card-body">
                        <h5 class="card-title">Ryan</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/zhuoranzhang-ryan" class="btn btn-primary">GitHub</a>
                        <a href="" class="btn btn-secondary">LinkedIn</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2" id="members">
                <div class="card">
                    <img class="card-img-top" src="../Resources/KM_github.jfif" alt="Kana pic">
                    <div class="card-body">
                        <h5 class="card-title">Kana</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/kanamoore" class="btn btn-primary">GitHub</a>
                        <a href="https://www.linkedin.com/in/kana-moore-52a1b2144/" class="btn btn-secondary">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="members">
                <div class="card">
                    <img class="card-img-top" src="../Resources/NQ_github.jpg" alt="Nabeel pic">
                    <div class="card-body">
                        <h5 class="card-title">Nabeel</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/nqazimn" class="btn btn-primary">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="members">
                <div class="card">
                    <img class="card-img-top" src="" alt="Connor pic">
                    <div class="card-body">
                        <h5 class="card-title">Connor</h5>
                        <p class="card-text"></p>
                        <a href="https://github.com/croemelt" class="btn btn-primary">GitHub</a>
                        <a href="" class="btn btn-secondary">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2" id="members">
              <div class="card">
                  <img class="card-img-top" src="" alt="Umar pic">
                  <div class="card-body">
                      <h5 class="card-title">Umar</h5>
                      <p class="card-text"></p>
                      <a href="https://github.com/uhassan15" class="btn btn-primary">GitHub</a>
                      <a href="" class="btn btn-secondary">LinkedIn</a>
                  </div>
              </div>
           </div>
        </div>
    </div>
  </body>
</html>
